.navbar-nav .active {
  color: #1a51bf !important;
  border-bottom: 3px solid #1a51bf;
}

.nav-link:hover {
  color: #1a51bf;
}

.myNav {
  background-color: #eef5fb;
  color: #1a51bf;
}

@media (max-width: 768px) {
  .hideNav {
    transform: translateY(-100%);
    transition: transform 500ms ease-in-out;
  }

  .showNav {
    transform: translateY(0);
    transition: transform 500ms ease-in-out;
  }
}
