@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #eef5fb;
  color: #002463;
}

.mouseHover {
  cursor: pointer;
}

.scale {
  transition: scale 300ms;
}

.scale:hover {
  scale: 1.1;
  transition: scale 300ms;
}

.cardHover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: scale 300ms, box-shadow 300ms;
  animation: fadeIn 800ms;
  color: #002463;
}

.cardHover:hover {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  scale: 1.05;
  transition: scale 300ms, box-shadow 300ms;
  z-index: 1;
}

.mainAnimation {
  /* animation: fadeIn 800ms backwards ease-in-out; */
  animation: fadeIn 300ms backwards ease-in-out;
}

@keyframes fadeIn {
  0% {
    /* scale: 0; */
    opacity: 0;
  }
  /* 50% {
    scale: 1.01;
  } */
  100% {
    /* scale: 1; */
    opacity: 1;
  }
}

.line-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.categoryHover {
  transform: translateY(0);
  transition: transform 300ms;
}
.categoryHover:hover {
  transform: translateY(-15px);
  transition: transform 300ms;
}

.btn-primary {
  --bs-btn-bg: #1a51bf;
}

.btn-danger {
  --bs-btn-bg: #b10f0f;
}

.badge {
  background-color: #1a51bf !important;
}

.custom-dropdown-item {
  color: #002463;
}

.custom-dropdown-item:hover {
  background-color: #1a51bf;
  color: white;
}

.mySlick {
  width: calc(300px * 32);
  animation: scrollLeft 120s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .mySlick {
    width: calc(200px * 32);
  }
}

.form-check-input:checked {
  background-color: #1a51bf;
  border-color: #1a51bf;
}
