@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #eef5fb;
  color: rgb(0, 36, 99);
}

.mouseHover {
  cursor: pointer;
}

.scale {
  transition: scale 300ms;
}

.scale:hover {
  scale: 1.1;
  transition: scale 300ms;
}

.cardHover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: scale 300ms, box-shadow 300ms;
  animation: fadeScaleIn 1s backwards 300ms;
  color: rgb(0, 36, 99);
}

.cardHover:hover {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  scale: 1.05;
  transition: scale 300ms, box-shadow 300ms;
  z-index: 1;
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.line-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.categoryHover {
  transform: translateY(0);
  transition: transform 300ms;
}
.categoryHover:hover {
  transform: translateY(-15px);
  transition: transform 300ms;
}

.btn-primary {
  --bs-btn-bg: #1a51bf;
}

.btn-danger {
  --bs-btn-bg: #b10f0f;
}

.badge {
  background-color: #1a51bf !important;
}
